<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.meta.site_title }}</title>
        <meta name="author" content="{{ site.meta.author.fullname }}" />
        <link href="/atom.xml" rel="alternate" 
            title="{{ site.meta.site_title }}" type="application/atom+xml" />
        <link href="/rss.xml" rel="alternate" 
            title="{{ site.meta.site_title }}" type="application/rss+xml" />

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

        <!-- Homepage CSS -->
        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

    </head>
    <body>

        <div class="site">
            <div class="title">
                <a href="/">{{ site.meta.site_title }}</a>
                <a class="extra" href="/">home</a>
            </div>

            {{ content }}

            <div class="footer">
                <div class="contact">
                    <p>
                    Leslie Michael Orchard<br />
                    {web,mad,computer} scientist;<br />
                    {tech,scifi} writer;<br />
                    home{brewer,roaster}
                    </p>
                </div>
                <div class="contact">
                    <p>
                    <a href="http://github.com/lmorchard/">github.com/lmorchard</a><br />
                    <a href="http://twitter.com/lmorchard/">twitter.com/lmorchard</a><br />
                    <a href="http://flickr.com/photos/deusx/">flickr.com/photos/deusx</a>
                    </p>
                </div>
                <div class="rss">
                    <a href="/atom.xml">
                        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
                    </a>
                </div>
            </div>
        </div>

    </body>
</html>
