<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.meta.site_title }}</title>
        <meta name="author" content="{{ site.meta.author.fullname }}" />

        {% if page.tag %}
            <link href="{{ site.baseurl }}/tag/{{page.tag | replace:' ', '-' | downcase }}/atom.xml" 
                rel="alternate" title="{{ page.title }} - {{ site.meta.site_title }} (Atom)" 
                type="application/atom+xml" />
        {% else %}
            <link href="/blog/atom.xml" rel="alternate" 
                title="{{ site.meta.site_title }} (Atom)" type="application/atom+xml" />
            <link href="/blog/rss.xml" rel="alternate" 
                title="{{ site.meta.site_title }} (RSS)" type="application/rss+xml" />
        {% endif %}
        
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!-- Homepage CSS -->
        
        <link rel="stylesheet" href="/blog/css/screen.css" 
            type="text/css" media="screen, projection" />
        
    </head>
    <body>

        <section class="site">

            <header>
                <h1><a href="{{ site.baseurl }}/">{{ site.meta.site_title }}</a></h1>
                <h2>{{ site.meta.site_subtitle }}</h2>
                <nav>
                </nav>
            </header>

            <section class="content">{{ content }}</section>

            <footer>
                <img src="http://decafbad.com/images/growup2.jpg" width="440" height="138"
                    alt="When I grow up, I want to be a computer scientist" />
            </footer>

            <aside class="sidebar">
                {% include about-me.html %}
                {% include see-also.html %}
                {% include buy-my-books.html %}
            </aside>

        </section>

        <section id="javascript">
        
            {% if site.debug %}
                <script src="http://localhost:8001/vogue-client.js" type="text/javascript"></script>
            {% endif %}

            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-1519392-1']);
              _gaq.push(['_setDomainName', '.decafbad.com']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
            
        </section>

    </body>
</html>
