---
layout: default
---
<nav class="page-navigation">
    <ul>
        {% if page.previous.url %}
        <li class="left">
            <a href="{{ site.baseurl }}{{page.previous.url}}" accesskey="p" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="right">
            <a href="{{ site.baseurl }}{{page.next.url}}" accesskey="n" title="next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>

<article class="post">
    <h2>{{ page.title }}</h2>
    {{ content }}
</article>

<nav class="page-navigation">
    <ul>
        {% if page.previous.url %}
        <li class="left">
            <a href="{{ site.baseurl }}{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="right">
            <a href="{{ site.baseurl }}{{page.next.url}}" title="next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>

<section class="comments">
</section>
